---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

const pageTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
const pageDescription = description || SITE_DESCRIPTION;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={pageTitle} description={pageDescription} />
  </head>
  <body>
    <div class="wrapper">
    <Header title={pageTitle} />
    <main>
      <slot />
    </main>
    </div>
    <Footer />
    <style lang="scss">
      body {
        color: #fafafa;
        min-height: 100dvh;
        box-sizing: border-box;

        @media (prefers-reduced-motion) {
          animation: none;
        }

        &::before {
          z-index: -2;
          content: "";
          position: fixed;
        animation-name: background;
        animation-timing-function: linear;
        animation-duration: 60s;
        animation-iteration-count: 1;
          background: black;
          background-image: url("/background.png");
          background-size: cover;
        background-repeat: no-repeat;
        background-position: 100% 100%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0
        }

        &::after {
          animation-name: portrait;
          animation-duration: 1s;
          animation-iteration-count: 1;
          @media (prefers-reduced-motion) {
            animation: none;
          }
          content: "";
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.7);
          z-index: -1;
          background: url("/red.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom right;
        }
      }

      .wrapper {
        margin: 0 auto;
        max-width: 65ch;
        padding: 20px;
      }

      main {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 0.5rem;
        padding: 0 2rem 2rem;

        @media screen and (min-width: 768px) {
          padding: 2rem;
        }
        margin: 0 -2rem;
      }

      @keyframes background {
        0% {
          background-position: 0 100%;
        }
        100% {
          background-position: 100% 100%;
        }
      }

      @keyframes portrait {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0%);
        }
      }
    </style>
  </body>
</html>
