---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import Me from "../assets/red.png";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

const pageTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
const pageDescription = description || SITE_DESCRIPTION;

const portraitAnimation = {
  old: {
    name: "portrait",
    duration: "0.7s",
    delay: "0.4s",
    easing: "ease-in-out",
    fillMode: "backwards",
  },
  new: {
    name: "portraitRev",
    duration: "0.7s",
    easing: "ease-in-out",
    fillMode: "forwards",
  },
};

const portraitSlide = {
  forwards: portraitAnimation,
  backwards: portraitAnimation,
};
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <BaseHead title={pageTitle} description={pageDescription} />
  </head>
  <body>
    <div class="background" transition:persist></div>
    <div class="wrapper">
      <Header title={pageTitle} />
      <main transition:animate="slide">
        <slot />
      </main>
    </div>
    <Footer />
    <div class="me" transition:persist transition:animate={portraitSlide}>
      <Image src={Me} alt="Red Ochsenbein" loading="eager" />
    </div>
    <style lang="scss">
      body {
        color: #fafafa;
        min-height: 100%;
        box-sizing: border-box;

        @media (prefers-reduced-motion) {
          animation: none;
        }

        .background {
          z-index: -2;
          content: "";
          position: fixed;
          animation-name: background;
          animation-timing-function: linear;
          animation-duration: 60s;
          animation-iteration-count: 1;
          background: black;
          background-image: image-set(
            url("../assets/background.webp") type("image/webp"),
            url("../assets/background.jpg") type("image/jpeg"),
            url("../assets/background.png") type("image/png")
          );
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 100% 100%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }

        .me {
          position: fixed;
          bottom: 0;
          height: 100%;
          display: flex;
          right: 0;
          z-index: -1;

          img {
            object-fit: contain;
            object-position: bottom right;
            max-height: 100vh;
          }
        }
      }

      .wrapper {
        margin: 0 auto;
        max-width: 65ch;
        padding: 20px;
      }

      main {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 0.5rem;
        padding: 1rem 2rem 2rem;

        :global(:first-child) {
          margin-top: 0;
        }

        @media screen and (min-width: 768px) {
          padding: 2rem;
        }
        margin: 0 -2rem;
      }

      @keyframes background {
        0% {
          background-position: 0 100%;
        }
        100% {
          background-position: 100% 100%;
        }
      }

      @keyframes portrait {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0%);
        }
      }
      @keyframes portraitRev {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(100%);
        }
      }
    </style>
  </body>
</html>
